:root {
  --main-bg-color: #F34453;
  --second-bg-color: #52A0AA;
  --content-bg-color: #522A8A;
  --text-color: #fff;
  --task-bg: #F9B24F;
}
html{
  color: var(--text-color);
}
.pomodoroTimer {
  background-color: var(--second-bg-color);
  min-width: 550px;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; 
  border-radius: 10px;
}

.inputTask {
  background-color: var(--content-bg-color);
  
  width: 500px;
  height: 50px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
}
.addTask {
  outline: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  
  border-radius: 50%;
  border: none;
  
  box-shadow: 0 3px 20px rgba(0,0,0,.25),
    inset 0 2px 0 rgba(255,255,255,.6),
    0 2px 0 rgba(0,0,0,.1),
    inset 0 0 20px rgba(0,0,0,.1);
  
  font-size: 40px;
  color: var(--text-color);
  background-color: var(--main-bg-color);
}

.addTask:hover {
  box-shadow: inset 0 0 20px rgba(0,0,0,.2),
  0 2px 0 rgba(255,255,255,.4),
  inset 0 2px 0 rgba(0,0,0,.1);
}

.enterTask {
  width: 400px;
  font-size: 20px;
  color: var(--text-color);
  background-color: var(--content-bg-color);
  border: none;
  outline: none;
}

.content-wrapper {
  background-color: var(--content-bg-color);
  width: 650px;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
}

.taskList-wrapper {
  background-color: var(--main-bg-color);
  width: 50%;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
}
.taskList {
  padding: 0;
}

.taskItem {
  background-color: var(--task-bg);
  font-size: 20px;
  margin: 5px;
  padding: 5px;
  list-style-type: decimal;
  list-style-position: inside;
  border-radius: 10px;
  word-wrap: break-word;
}

.clock-wrapper {
  background-color: white;
  color: black;
  border-radius: 10px;
  margin: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delTask {
    width: 25px;
    height: 25px;
    color: var(--text-color);
    float: right;
    outline: none;
    border: none;
    border-radius: 50%;
    margin-right: 10px;
    background: white url(assets/trash.png) 50% 50% no-repeat;

  background-size: 15px ;

}
